#thesis-editor {
  display: block;
  position:absolute;
  right: 10px;
  top: 10px;
  width:54px;
  z-index: 1040;

  #thesis-edit-page {
    background-color:rgba(0, 0, 0, 0.6);
    color:#ECECEC;
    display:block;
    font-size: 20px;
    padding:10px;
    line-height: 20px;
    border-radius: 8px;
    // box-shadow: 0 0 10px #444;
    -webkit-transition: 0.5s;
    text-decoration: none;
    // width: 34px;

    &:hover {
      box-shadow: 0 0 20px #000;
      -webkit-transition: 0.5s;
    }
    i {
      display: none;
    }
    i:first-child {
      display: block;
    }
  }

}

body.thesis-editing {
  .thesis-content {
    z-index: 1039;
    box-shadow: 0 0 1px 1px rgba(150, 168, 236, 0.8);
  }
  #thesis-editor {
    #thesis-edit-page  {
      i {
        display: block;
      }
      i:first-child {
        display: none;
      }
    }
  }
}

.thesis-fader {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(29, 49, 58);
  opacity: 0.1;
  cursor: crosshair;
  z-index: 1038;
  display: block;
  pointer-events: none;
}
