#thesis-editor {
  display: block;
  position:absolute;
  right: 0;
  top: 0;
  width:50px;
  height:50px;
  z-index: 1040;
  
  & #thesis-edit-page {
    background-color:#343434;
    color:#ECECEC;
    display:block;
    font-size: 20px;
    padding:13px 6px 17px 9px;
    line-height: 20px;
    border-radius: 0 0 0 30px;
    box-shadow: 0 0 10px #444;
    -webkit-transition: 0.5s;
    
    &:hover {
      box-shadow: 0 0 20px #000;
      -webkit-transition: 0.5s;
    }
  }
  
}

body.thesis-editing {
  & .thesis-content {
    border: solid 1px red;
  }
}
